
.cont_main{
    background-color: gray;
    /* display: flex; */
}
.title{
    height: 80px;
    background-color: rgb(32, 58, 59);
    /* text-align: center; */
    /* padding-bottom: 10px; */
    color: aliceblue;
    /* width: 100px; */
}
.block{
    background-color:  rgb(39, 43, 43);
    height: 500px;
    width: 300px;
    margin: 50px 50px 50px 50px;
    border-radius: 20px;
}
.block1{
    background-color:  rgb(39, 43, 43);
    height: 50px;
    /* text-align: center; */
    /* width: 500px; */
    margin: 50px 50px 50px 50px;
    border-radius: 10px;
    /* padding: 20px; */
    /* text-align: start; */
}
.columnone{
    background-color:  rgb(39, 43, 43);
    height: 150px;
    /* width:200px; */
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.columntwele{
    background-color:  rgb(39, 43, 43);
    height: 170px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
   
}
